<style>


	tr, th, td {

		border : solid black 0.0625em;
		color: black;
		padding: 0.3125em;
	}

	table {

		border-collapse: collapse;
	}

	    .header-table {

    background-color: darkgrey; 
    color: black;
    text-align: center;

    }  


</style>


<table>
	<thead>
		<tr>
			<th class="header-table">Transaction date</th>
			<th class="header-table">Description</th>
			<th class="header-table">Debit</th>
			<th class="header-table">Credit</th>
			<th class="header-table">Balance</th>
		</tr>
	</thead>
	{%for item in data%}
	<tr>
		<td>{{item.txn_date}}</td>
		<td>{{item.description}}</td>
		<td>{{item.debit}}</td>
		<td>{{item.credit}}</td>
		<td>{{item.balance}}</td>
	</tr>
	{%endfor%}
</table>

<br/>

<footer>
	<b>Note : </b><i>In rare cases overdraft maybe tagged as bounced.</i>
</footer>


