{% extends "header_footer.html" %}
{% block content %}
{% load static %}


<head>
  <title>KPI | BANK | COUNTERPARTIES</title>
</head>

<style>

	
	tr, th, td {

		border : solid black 1px;
		padding: 2px;
		color: black;

	}


	.rm-head {

		background-color: white;
		border-left-color: white;
		border-top-color: white;
	}

	.header-table {

    background-color: rgb(40,40,40); 
    color: white;
    text-align: center;

	}

	.num {

		text-align: right;
	}
	

	#bank-common-table {

		margin-left: 10px;
    margin-bottom: 20px;
	}

	td {
    
    	white-space: nowrap;
  		
	}
	
	.tab-entity {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    min-width:20px;
}


.table-sortable th::after {
  cursor: pointer;
  content: "\21F5";
  margin-left: 5px;

}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

	
.sticky {

  position: sticky;
  top: 0px;
}

.table thead tr th {
  box-shadow: 0px 0px 0px 1px black inset;
  margin:0px;
  border-collapse: collapse;
}

.table {

	padding:0px;
	margin:0px;
	border:0px;
	vertical-align: top; 
	table-layout: fixed;
}

/*.buttontext {
  width: 20em;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  color: royalblue;

}​*/


.button1{
    color: royalblue;
    border: none;
    background: none; 
    padding-right: 0px;
    width: 12em;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    text-align: left;
    /*color: royalblue;*/

  }



.radio{

        background-color: white ;
        border-bottom-color:white;
        border-left-color:white; 
        border-top-color:white;
        padding: 10px;
    }
    .radio1{

        background-color: white;
        border-color: white;
    }

 





</style>


<div class="content" style="margin-top: 0px;">
    <div class="container" style="margin-top: 0px;">
        <div class="text-right" style="padding-right:50px">
            <h6><a class="digitization-unfocus" href="{% url 'bureauAnalyze' %}">&emsp;Bureau&emsp;</a><a class="digitization-focus" href="{% url 'bankAnalyze' %}">&emsp;Bank&emsp;</a><a class="digitization-unfocus" href="{% url 'itr' %}">&emsp;ITR&emsp;</a><a class="digitization-unfocus" href="{% url 'upload_bank_statement' %}">&emsp;Composite&emsp;</a></h6>
        </div>
        <br/>
    </div>
</div>
<div class="content" style="margin-top: 0px; margin-bottom: 0px;">
    <div class="container" style="margin-top: -80px;">
        <div class="text-right" style="padding-right:50px">
            <h6><a class="digitization-unfocus" href="{% url 'bank_customer_kpi' %}">&emsp;Summary&emsp;</a><a class="digitization-unfocus" href="{% url 'bank_customer_month_kpi' %}">&emsp;Month-wise&emsp;</a><a class="digitization-unfocus" href="{% url 'fishy' %}">&emsp;Transactions&emsp;</a><a class="digitization-focus" href="{% url 'bank_entity_kpi' %}">&emsp;Counterparties&emsp;</a><a class="digitization-unfocus" href="{% url 'statement' %}">&emsp;Statement&emsp;</a></h6>
        </div>
        <br/>
      
    </div>
</div>


<div class="content"  style="margin-left: 20px;padding: 0px; margin-top: 0px;padding-top: 0px;">
        <div class="container"  style="margin-left: 20px;padding: 0px; margin-top: 0px;padding-top: 0px;">
            <div class="row">
                <div class="col-md-12">
          <h4>Counterparties {% if request.session.deal_id %}(Deal ID: {{request.session.deal_id}}, Customer ID: {{request.session.customer_id.capitalize}}, Customer Name: {{request.session.name}}){% endif %}</h4>
                </div>
            </div> 
        </div>
    </div>




<form method="POST">
	{% csrf_token %}
	<table id="bank-common-table">
		
		<thead>
			<th class="radio1" colspan="0" ></th>
      <th class="rm-head" colspan="2"></th>
			<th colspan="2" class="header-table">Transactions</th>
      <th class="header-table"></th>
			<!-- <th class="header-table" rowspan="0" width="2em;" style="border-bottom-color: rgb(96,96,96);">Counterparties<br/> transacted<br/> with<br/></th> -->
		</thead>
		<thead>
			<th class="radio"></th>
			<th class="header-table">Account number</th>
			<th class="header-table">Bank name</th>
			<th class="header-table">From</th>
			<th class="header-table">To</th>
      <th class="header-table" width="2em;" style="border-bottom-color: rgb(96,96,96);">Counterparties<br/> transacted<br/> with<br/></th>
			<!-- <th class="header-table"></th> -->
		</thead>
		
		{%for item in data%}
		
		<tr>
			<td class="radio">
        
        <div>
          {%if item.account_number == z %}
          <label><input type="radio" id='{{account_number}}' name="optbank"  value="{{item.account_number}}" checked="checked" onClick="this.form.submit()"></input></label>
               {%else%}
          
          
                  <label><input type="radio" id='{{account_number}}' name="optbank"  value="{{item.account_number}}"  onClick="this.form.submit()"></input></label>
          {% endif%}
              </div>
        
            </td>
	
	
			<td>{{item.account_number}}</td>
			<td>{{item.bank_name}}</td>
			<td>{{item.from_date}}</td>
			<td>{{item.to_date}}</td>
			<td class="num">{{item.num_entities}}</td>

			
		</tr>
		{%endfor%}

	</table>


</form>

{%if n4 == "q" %}

<h6 style="margin-left: 10px; margin-bottom: 10px;">Summary of transactions by Payer-Payee</h6>

</div>



<div style="padding-right: 10px;padding-left: 10px;">
	<table class="table" id="myTable" width="80%" border="0" cellspacing="0" cellpadding="0" align="left">
	  <thead class="sticky">
  		<tr>
  			<td style="background-color:white;" width="180em"></td>
  			<th class="header-table" colspan="2" width="200em">Transactions</th>
  			<th class="header-table" colspan="2" width="100em">Number of transactions</th>
  			<th class="header-table" colspan="4" width="412.5em">Debited amount</th>
  			<th class="header-table" colspan="4" width="412.5em">Credited amount</th>
  		</tr>
    </thead>
  </table>

  <table class="table-sortable table" id="myTable" width="80%" border="0" cellspacing="0" cellpadding="0" align="left">
    <thead class="sticky">
    	
      <tr>
        <th class="header-table" width="180em">Entity</th>
    		<th class="header-table" width="100em">From</th>
    		<th class="header-table" width="100em">To</th>
    		<th class="header-table" width="50em">Dr</th>
    		<th class="header-table" width="50em">Cr</th>
    		<th class="header-table" width="103.125em">Total</th>
    		<th class="header-table" width="103.125em">Average</th>
    		<th class="header-table" width="103.125em">Min</th>
    		<th class="header-table" width="103.125em">Max</th>
    		<th class="header-table" width="103.125em">Total</th>
    		<th class="header-table" width="103.125em">Average</th>
    		<th class="header-table" width="103.125em">Min</th>
    		<th class="header-table" width="103.125em">Max</th>
      </tr>
    </thead>
    <tbody>
    	{% for item in data1 %}
	     <tr>
	        <td width="180em"><a class ="button1"  href="{{item.entity|urlencode}}/{{n}}" title="{{item.entity}}">{{item.entity}}</a></td>
	        <td width="40em">{{item.oldest_txn}}</td>
    			<td width="40em">{{item.latest_txn}}</td>
    			<td width="50em" class="num">{{item.debits}}</td>
    			<td width="50em" class="num">{{item.credits}}</td>
    			<td width="103.125em" class="num">{{item.debited_amt_total}}</td>
    			<td width="103.125em" class="num">{{item.debited_amt_mthly}}</td>
    			<td width="103.125em" class="num">{{item.min_debit}}</td>
    			<td width="103.125em" class="num">{{item.max_debit}}</td>
    			<td width="103.125em" class="num">{{item.credited_amt_total}}</td>
    			<td width="103.125em" class="num">{{item.credited_amt_mthly}}</td>
    			<td width="103.125em" class="num">{{item.min_credit}}</td>
    			<td width="103.125em" class="num">{{item.max_credit}}</td>
		    </tr>

     	{% endfor %}
    </tbody>
  </table>

  <table class="table" id="myTable" width="80%" border="0" cellspacing="0" cellpadding="0" align="left">
    <tr>
        <th style="border-color: white;border-bottom-color: black;" width="180em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="100em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="100em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="50em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="50em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
        <th style="border-color: white;border-bottom-color: black;" width="103.125em"></th>
    </tr>
      {% for item in data2 %}
       <tr>
          <td width="180em"><button class ="button1"  onclick="window.open('{{item.entity}}' +'/' + '{{n}}', 'MsgWindow','width=600','height=600')" title="{{item.entity}}"><u><span class="buttontext">{{item.entity}}</span></u></button></td>
          <td width="40em">{{item.oldest_txn}}</td>
          <td width="40em">{{item.latest_txn}}</td>
          <td width="50em" class="num">{{item.debits}}</td>
          <td width="50em" class="num">{{item.credits}}</td>
          <td width="103.125em" class="num">{{item.debited_amt_total}}</td>
          <td width="103.125em" class="num">{{item.debited_amt_mthly}}</td>
          <td width="103.125em" class="num">{{item.min_debit}}</td>
          <td width="103.125em" class="num">{{item.max_debit}}</td>
          <td width="103.125em" class="num">{{item.credited_amt_total}}</td>
          <td width="103.125em" class="num">{{item.credited_amt_mthly}}</td>
          <td width="103.125em" class="num">{{item.min_credit}}</td>
          <td width="103.125em" class="num">{{item.max_credit}}</td>
        </tr>

      {% endfor %}
  </table>

</div>
{%endif%}
             


    

{% endblock content %}



      
<script>



/**
 * Sorts a HTML table.
 * 
 * @param {HTMLTableElement} table The table to sort
 * @param {number} column The index of the column to sort
 * @param {boolean} asc Determines if the sorting will be in ascending
 */
function sortTableByColumn(table, column, asc = true) {
    const dirModifier = asc ? 1 : -1;
    const tBody = table.tBodies[0];
    const rows = Array.from(tBody.querySelectorAll("tr"));

    // Sort each row
    const sortedRows = rows.sort((a, b) => {
        var aColText = (a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim());
        var bColText = (b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim());

        if (!aColText) { 
           
           	aColText =  0; 

        }


        if (!bColText) { 
               
            bColText =  0; 

         }

     	
     	try {
             if(aColText[0]=='₹'){
                aColText = parseFloat(aColText.split('₹')[1].replace(/,/g, ''));
                bColText = parseFloat(bColText.split('₹')[1].replace(/,/g, ''));
                console.log(aColText)

             }
            if(aColText[2]=="/"){

            
            var day=aColText.substring(0,2);
            var month=aColText.substring(3,5);
            var year=aColText.substring(6,)
            var newstr=year+month+day
            aColText= parseFloat(aColText.substring(6,)+ aColText.substring(3,5) + aColText.substring(0,2));
            bColText=parseFloat(bColText.substring(6,)+ bColText.substring(3,5) + bColText.substring(0,2));
            console.log(aColText)
            
            
            }
            if(aColText.length > 4) {
        	
            	aColText=aColText.toUpperCase();
            	bColText=bColText.toUpperCase();
                
                var i = 0;
                var str="";
                var str1="";
                while (i < aColText.length && i < bColText.length) {
                    
                    str=str+aColText.charCodeAt(i);
                    str1=str1+bColText.charCodeAt(i);
                    i++;
                }
                    aColText=str;
                    bColText=str1;
            }

            else {

            		return parseInt(aColText) > parseInt(bColText) ? (1 * dirModifier) : (-1 * dirModifier);

            }
                                    
        }

        catch (err) {
        
            console.log(err)

        
        }
        

        return parseInt(aColText) > parseInt(bColText) ? (1 * dirModifier) : (-1 * dirModifier);
    });

    // Remove all existing TRs from the table
    while (tBody.firstChild) {
        tBody.removeChild(tBody.firstChild);
    }

    // Re-add the newly sorted rows
    tBody.append(...sortedRows);

    // Remember how the column is currently sorted
    table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
}

document.querySelectorAll(".table-sortable th").forEach(headerCell => {
    headerCell.addEventListener("click", () => {
        const tableElement = headerCell.parentElement.parentElement.parentElement;
        const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
        const currentIsAscending = headerCell.classList.contains("th-sort-asc");

        sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
    });
});



function MyFunc(id) {


  // var elem = document.getElementById(id);
  console.log(id)
  // elem.style.display = 'none';

}


var x = document.querySelectorAll(".button1")
console.log(x)

</script>


