
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        	
	tr, th, td {

		border : solid black 0.0625em;
		color: black;
		padding: 0.3125em;
	}


	table {

		border-collapse: collapse;
		margin-right: 10px;
		margin-bottom: 10px;


	}

	.header-table {

		background-color: rgb(46,46,46); 
		color: white;
		

	}
  
    </style>
</head>
<body>
    <table >
		
		
			<thead>
				<th class="header-table">Address</th>
				<th class="header-table">Source</th>
				
		</thead>
        {% for item in Address_Val %}
        <tr>
            <td><p  class="address"title="{{item.ADDRESS_1}}">{{item.address}}</p></td>
			<td><p  class="address"title="{{item.ADDRESS_1}}">{{item.source}}</p></td>
           
        </tr>
        {% endfor %}
    
</body>
</html>