{% extends "header_footer.html" %}
{% block content %}
{% load static %}
<div class="content" style="margin-top: 0px;">
    <div class="container" style="margin-top: 0px;">
		<div class="text-right" style="padding-right:50px">
			<h6><a class="digitization-unfocus" href="{% url 'bureauAnalyze' %}">&emsp;Bureau&emsp;</a><a class="digitization-unfocus" href="{% url 'bankAnalyze' %}">&emsp;Bank&emsp;</a><a class="digitization-unfocus" href="{% url 'itr' %}">&emsp;ITR&emsp;</a><a class="digitization-unfocus" href="{% url 'upload_bank_statement' %}">&emsp;Composite&emsp;</a></h6>
		</div>
		<br/>
        
    </div>
</div>




{% endblock content %}